.regAuthDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 94%;
    align-items:center;
}
.regImg{
    width: fit-content;
    height: fit-content;
}
.formGroup {
    margin-bottom: 15px;
    width: 100%; 
}

label {
    display: block; /* Блоковое отображение меток */
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
}

input {
    background-color: transparent;
    width: 100%; /* Полная ширина полей ввода */
    padding: 10px; /* Внутренний отступ */
    border-radius: 5px; /* Скругление углов */
    border: 1px solid black;
}

.btnReg {
    border: 2px solid black; 
    padding: 10px 15px; /* Внутренний отступ */
    border-radius: 5px; /* Скругление углов */
    background-color: transparent;
}
Link{
    text-decoration: none;
}
.registerPrompt {
    margin-top: 15px; /* Отступ сверху */
}
.regAuthForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 30%;
}
.checkboxDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
}