.reviewsTitle{
    color: rgb(173,99,89);
    text-align: center;
    font-size: 4em;
}
.reviewsDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.ReviewsFromUsers{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 100px;
    padding-top: 100px;
}