body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/data/images/layoutBody.png'); 
  font-family: "smalle";
  font-weight: 600;

  
}
.yellowText{
  color: rgb(255,194,14)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ArchivoFont{
  font-family: "Archivo", sans-serif;
}
.ArchivoBlackFont{
  font-family: "Archivo Black", sans-serif;
}
.PixelFont{
  font-family: "Pixelify Sans", sans-serif;
}
a{
  text-decoration: none;
  color:black;
}
/* p{
  color:white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
} */
@font-face {
  font-family: 'computer_pixel-7'; /* Имя шрифта, которое вы будете использовать */
  src: url('fonts/computer_pixel-7.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-size:larger;
  font-weight: normal; /* Укажите, если шрифт жирный или обычный */
  font-style: normal; /* Укажите стиль шрифта (normal, italic и т.д.) */
}
@font-face {
  font-family: 'smalle'; /* Имя шрифта, которое вы будете использовать */
  src: url('fonts/smalle.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: bold;
  font-weight: normal; /* Укажите, если шрифт жирный или обычный */
  font-style: normal; /* Укажите стиль шрифта (normal, italic и т.д.) */
}

.displayflex{
  display: flex;
}
.flexrow{
  flex-direction: row;
}
.flexcolumn{
  flex-direction: column;
}
.aligncenter{
  align-items: center;
}
.justifycenter{
  justify-content: center;
}
.gap20{
  gap: 20px;
}
.fontSize2em{
  font-size: 2em;
}
.marginBottom0{
  margin-bottom:0;
}
.marginLeft5{
  margin-left: 5px;
}
.select{
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}