.goalDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    gap: 30px;
}
.goalText{
    font-size: 3em;
    margin: 0;
}
.backDiv{
    margin-bottom: -612px;
    height: 500px;
    width: 100%;
}
.goal{
    width: 50%;
}
.goalDiv1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}