.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Высота заголовка */
    z-index: 1000;

}

.toolbar {
    top: 100px; /* Под заголовком */
    left: 0;
    right: 0;
    height: 60px; /* Высота панели инструментов */
    z-index: 999;
}



.container {
    display: flex; 
    flex-direction: row; /* Выравнивание по вертикали */
    margin-top: 150px;
    width: 100%;
}
.progressDiv{
    display: flex;
    flex-direction: column;
}
.homeDiv{
    display: flex;
    flex-direction: column;
}