.categTitle{
    font-size: 2.5em;
}
.categName{
    font-size: 1.5em;
}
.categories{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between ;
}
.CategoriesDiv{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}